{% extends "base.html.twig" %}

{% block body %}
<div class="container">
    <div class="row">
       <h1>view all</h1>

        <ul>
          {% for tricks in listTricks %}
            <li>
            	{{ tricks.title }}
            	</br>
                Rédigé par : {{ tricks.author }} le : {{ tricks.dateAjout|date('d/m/Y à H:i') }}
            	</br>
            	{{ tricks.content }}
            	</br>
            	<a href="{{ path('tricks_view', { 'id' : tricks.id} ) }}" class="btn btn-primary">Voir le tricks</a>
            </li>
          {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}