{% extends "base.html.twig" %}

{% block body %}
    <div class="container">

        <img src="{{ asset('img/image.png') }}" alt="Snowtricks"
             class="center-block img-rounded img-responsive"
             style="margin-top: 15px">
        <div class="text-center">
            <div class="jumbotron">
                <p><em>Le freestyle, c’est hyper fun, et dès les premiers jumps on peut se faire plaisir ! Pour débuter,
                        progresser rapidement puis apprendre à faire ses premières rotations, voici quelques tricks
                        tips. </em>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {% if listTricks|length != 0 %}
                    <ul class="thumbnails list-unstyled">
                        {% for trick in listTricks %}
                            <li class="col-lg-4 col-sm-6 text-center">
                                <div class="thumbnail">
                                    <div class="caption">
                                        <a href="{{ path('tricks_view', { 'id' : trick.id }) }}" style="color: black;  text-decoration: none;">
                                            <h3>{{ trick.title }}</h3></a>

                                        {% if(trick.image.first) %}
                                            <img src="{{ asset('uploads/img/' ~  trick.image.first.imageName) }}"
                                                 alt="{{ trick.title }}" width="300"
                                                 height="150"/>
                                        {% else %}
                                            <img src="{{ asset('img/image1.jpg') }}" alt="image1" width="300"
                                                 height="150">
                                        {% endif %}

                                        <p><em>Ajouté par <strong>{{ trick.author }}</strong>
                                                le {{ trick.dateAjout|date('d/m/Y à H:i') }}</em></p>
                                        <a class="btn btn-primary"
                                           href="{{ path('tricks_view', { 'id' : trick.id }) }}">Voir la figure</a>
                                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                            <a class="btn btn-warning"
                                               href="{{ path('tricks_edit', { 'id' : trick.id }) }}"><i
                                                        class="icon-pencil"></i></a>
                                            <a class="btn btn-danger"
                                               href="{{ path('tricks_delete', { 'id' : trick.id }) }}"><i
                                                        class="icon-trash"></i></a>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    Aucune figure
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}