<div class="container">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="well">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-horizontal'}}) }}
            {{ form_errors(form) }}
            <fieldset>
                <legend>Nouvelle figure</legend>

                <div class="form-group">
                    {{ form_label(form.title, 'Nom de la figure', {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                    <div class="col-md-9">
                        {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
                    </div>
                    <div class="col-md-9 col-md-offset-3">
                        {{ form_errors(form.title) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.content, 'Description de la figure', {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                    <div class="col-md-9">
                        {{ form_widget(form.content, {'attr': {'class': 'form-control ckeditor', 'rows': '5', 'placeholder': 'Description'}}) }}
                    </div>
                    <div class="col-md-9 col-md-offset-3">
                        {{ form_errors(form.content) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.category, 'Catégorie de la figure', {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                    <div class="col-md-9">
                        {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-md-9 col-md-offset-3">
                        {{ form_errors(form.category) }}
                    </div>
                </div>
                {% macro information_prototype(video) %}
                    <div class="form-group">
                        {{ form_label(video, 'Video Youtube', {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                        <div class="col-md-7">
                            {{ form_widget(video) }}
                        </div>
                    </div>
                {% endmacro %}
                <div id="videoAdd" class="video"
                     data-prototype="{{ _self.information_prototype(form.video.vars.prototype)|e }}">
                    {% for video in form.video %}
                        {{ _self.information_prototype(video) }}
                    {% endfor %}
                </div>
               {% macro information_prototype2(image) %}
                    <div class="form-group">
                        {{ form_label(image, 'Image', {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                        <div class="col-md-7">
                            {{ form_widget(image) }}
                        </div>
                    </div>
                {% endmacro %}

                <div id="imageAdd" class="image"
                     data-prototype="{{ _self.information_prototype2(form.image.vars.prototype)|e }}">
                    {% for image in form.image %}
                        {{ _self.information_prototype2(image) }}
                    {% endfor %}
                </div>

                <div class="form-group">
                    <div class="col-md-offset-1">
                        <a href="#" id="add_video" class="btn btn-default">Ajouter une video</a>
                        <a href="#" id="add_image" class="btn btn-default">Ajouter une image</a>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3 text-right">
                        <a class="btn btn-default" href="{{ path('tricks_homepage') }}">Annuler</a>
                        <button id = "submit" class="btn btn-primary" type="submit">Enregistrer</button>
                    </div>
                </div>
            </fieldset>
            {{ form_end(form) }}
        </div>
    </div>
</div>