{#
<div class="well">
    {{ form(formComment) }}
</div>
#}


    <div class="well">
        {{ form_start(formComment, {'attr': {'novalidate': 'novalidate', 'class': 'form-horizontal'}}) }}
        {{ form_errors(formComment) }}
        <fieldset>
            <div class="form-group">
                <div class="row">
                    <div class="span9">
                        {{ form_widget(formComment.content, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="span3">
                        <button class="btn btn-primary" type="submit">Envoyer</button>
                    </div>
                    <div class="col-md-9 col-md-offset-3">
                        {{ form_errors(formComment.content) }}
                    </div>
                </div>
            </div>
        </fieldset>
        {{ form_end(formComment) }}
    </div>

</div>
